@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }

  :root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/></svg>');
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(33, 150, 243);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(33, 150, 243, 0.1);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(33, 150, 243);
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }