apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
- drift-detection-manager.yaml
- drift_detection_manager_rbac.yaml
- sveltos-agent.yaml
- sveltos_agent_rbac.yaml


patches:
- path: addon-controller.yaml
- path: classifier.yaml
- path: event-manager.yaml
- path: healthcheck-manager.yaml
- path: shard-controller.yaml
