apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: configurationbundles.lib.projectsveltos.io
spec:
  group: lib.projectsveltos.io
  names:
    kind: ConfigurationBundle
    listKind: ConfigurationBundleList
    plural: configurationbundles
    singular: configurationbundle
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: ConfigurationBundle is the Schema for the configurationbundle
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              helmChartVersion:
                description: |-
                  HelmChartVersion indicates the chart version of the Helm release
                  these resources belong to, if any
                type: string
              helmIcon:
                description: |-
                  HelmIcon indicates the URL of the icon of the Helm release
                  these resources belong to, if any
                type: string
              helmReleaseName:
                description: |-
                  HelmReleaseName indicates the name of the Helm release
                  these resources belong to, if any
                type: string
              helmReleaseNamespace:
                description: |-
                  HelmReleaseNamespace indicates the namespace of the Helm release
                  these resources belong to, if any
                type: string
              helmReleaseUninstall:
                default: false
                description: |-
                  HelmReleaseUninstall, when true, indicates that these resources are
                  part of a Helm release uninstallation process.
                  This can be used to trigger specific cleanup or post-uninstall hooks.
                type: boolean
              helmRepoURL:
                description: |-
                  HelmRepoURL indicates the repo URL of the Helm release
                  these resources belong to, if any
                type: string
              isLastHelmReleaseBundle:
                default: false
                description: |-
                  IsLastHelmReleaseBundle, when true, indicates that this ConfigurationBundle
                  is the final bundle in the sequence for the associated Helm release.
                  This can be used to trigger finalization steps, such as marking the
                  release as fully deployed or completely uninstalled in external tracking systems.
                type: boolean
              notTracked:
                description: |-
                  NotTracked, when true, signifies that the resources managed by the
                  ConfigurationBundles should not be tracked for conflicts
                  with other configurations and will not be automatically removed when the
                  ConfigurationGroup is deleted. This is intended for resources like
                  Sveltos CRDs or the agents Sveltos deploys in the managed clusters.
                type: boolean
              referenceTier:
                description: |-
                  ReferenceTier indicates the tier of the object (ConfigMap, Secret, etc)
                  referenced by PolicyRefs/KustomizationRef which contributed to this ConfigurationBundle.
                format: int32
                type: integer
              referencedObjectKind:
                description: |-
                  ReferencedObjectKind is the Kind of the object (ConfigMap, Secret, etc)
                  referenced by PolicyRefs/KustomizationRef which contributed to this ConfigurationBundle.
                type: string
              referencedObjectName:
                description: |-
                  ReferencedObjectName is the Name of the object (ConfigMap, Secret, etc)
                  referenced by PolicyRefs/KustomizationRef which contributed to this ConfigurationBundle.
                type: string
              referencedObjectNamespace:
                description: |-
                  ReferencedObjectNamespace is the Namespace of the object (ConfigMap, Secret, etc)
                  referenced by PolicyRefs/KustomizationRef which contributed to this ConfigurationBundle.
                type: string
              resources:
                description: |-
                  Resources contains all resources that need to be deployed.
                  Content is either YAML or JSON
                items:
                  type: string
                type: array
                x-kubernetes-list-type: atomic
              timeout:
                description: time to wait for Kubernetes operation (like Jobs for
                  hooks)
                type: string
            type: object
          status:
            properties:
              hash:
                description: |-
                  Hash represents of a unique value for the content stored in
                  the ConfigurationBundle
                format: byte
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
